﻿@model SampleSite.Models.PageModels.UserListPageModel

<div class="text-center">
    <h1 class="display-4">Users</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Age
            </th>
            <th>
                Address1
            </th>
            <th>
                Address2
            </th>
            <th>
                City
            </th>
            <th>
                PostCode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            @Html.DisplayFor(x => item)
        }
    </tbody>
</table>
