﻿@model SampleSite.Models.ViewModels.UserListItemViewModel

    <tr>
        <td>
            @Html.DisplayFor(x => x.Id)
        </td>
        <td>
            @Html.DisplayFor(x => x.UserName)
        </td>
        <td>
            @Html.DisplayFor(x => x.Email)
        </td>
        <td>
            @Html.DisplayFor(x => x.Age)
        </td>
        <td>
            @Html.DisplayFor(x => x.Address1)
        </td>
        <td>
            @Html.DisplayFor(x => x.Address2)
        </td>
        <td>
            @Html.DisplayFor(x => x.City)
        </td>
        <td>
            @Html.DisplayFor(x => x.PostCode)
        </td>
        <td>
            <a asp-action="Update" asp-route-id="@Model.Id">Update</a>
            <form asp-action="Delete">
                <input type="hidden" value="@Model.Id" name="id" />
                <input type="submit" value="Delete" />
            </form>

        </td>
    </tr>